In [10]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
data = {
    'Uno': np.random.uniform(low=0, high=1, size=10),
    'Dos': np.random.normal(loc=0, scale=1, size=10)
}
df = pd.DataFrame(data)
df

        Uno       Dos
0  0.116824  0.813871
1  0.040390  0.455785
2  0.735931 -0.816567
3  0.238507 -0.622344
4  0.625484 -0.569861
5  0.490405 -0.705733
6  0.041394  1.409511
7  0.739262  0.062162
8  0.058584  0.569547
9  0.561695  0.061106